# 파이썬기초 사전 테스트

### 1.파이썬에서 사용되는 숫자의 데이터형이 아닌 것은? (2)

① 정수(int) ② 부호없는 정수(unsigned int) ③ 실수(float)

In [ ]:
int()
str()
bool()

list()
tuple()
dict()
set()

### 2.다음에 나타난 파이썬 쉘 명령의 실행 결과는? (4)

``` python
a = 3 
b = 20 
c = b // a 
print(c) 
```

① 6.6666666666666    ② 20    ③ 3     ④ 6

In [2]:
a = 3 
b = 20 
c = b // a 
print(c)

6

### 3.다음에 나타난 파이썬 쉘 명령의 실행 결과는? (4)

``` python
a = '우리는 민족중흥의 역사적 사명을 띠고 이 땅에 태어났다.' 
a[3:12] 
```

① '는 민족중흥의 역사’    ② '는 민족중흥의 역’ 
③ '민족중흥의 역사’       ④ ' 민족중흥의 역사'

In [3]:
a = '우리는 민족중흥의 역사적 사명을 띠고 이 땅에 태어났다.' 
a[3:12]

' 민족중흥의 역사'

### 4.다음 중 문자열을 반복하는 데 사용되는 연산자는? (1)

① *   ② //     ③ %     ④ +

In [5]:
print('3' * 30)

333333333333333333333333333333

### 5.다음 중 결과 값이 다른 것은? (3)

``` python
① print(bool(""))       ② print(bool([])) 
③ print(bool("False"))  ④ print(bool(None))
```

In [7]:
print(bool(""))       
print(bool([]))
print(bool("False"))
print(bool(None))

False
False
True
False

### 6.다음 중 파이썬의 함수의 인수에 대한 설명이 잘못된 것 하나를 고르시오. (3)

① 파이썬은 함수를 호출할 때 객체의 참조를 넘겨준다.<br>
② 파이썬의 함수가 return 문 없이 종료하는 경우 None 객체를 반환 한다.<br>
③ 파이썬의 함수 호출 시에는 반드시 인수를 넘겨주어야 한다.<br>
④ 파이썬의 함수 자체를 다른 함수의 인수로 전달할 수 있다.<br>

In [11]:
# 함수 호출 시 인수를 안넘겨줘도 된다.
def 덧셈():
    import random    
    a = random.randint(1,10)
    b = random.randint(1,10)
    print(f'{a} + {b} = {a+b}')
    return a + b

def  뺄셈():
    print()
    
print(덧셈( 뺄셈() ))

2 + 9 = 11
11

### 7.다음은 리스트의 인덱스를 이용하여 리스트의 일부 요소를 화면에 출력하는 프로그램입니다. 프로그램의 실행 결과는? (3)

``` python
a = [37, 888, -273, 'kim', 'hwang', 66.77] 
print(a[2:4]) 
```

① [37, 888]       ② [-273, 'kim', 'hwang', 66.77] <br>
③ [-273, 'kim']   ④ [888, -273, 'kim', 'hwsnag']

In [12]:
a = [37, 888, -273, 'kim', 'hwang', 66.77]
print(a[2:4])

[-273, 'kim']

### 8.다음과 같이 test에 저장되어 있을 때 코드 실행 후 출력 값은? (3)

``` python
test = [['Kim','english',99],['Hong','math',88],['Park','history',55]] 
print(test[-2][1:-1]) 
```

① 'math'   ② ['math, 88]     ③ ['math']     ④ 'history'

In [14]:
test = [['Kim','english',99],['Hong','math',88],['Park','history',55]]
print(test[-2][1:-1])

['math']

### 9.다음과 같이 test에 저장되어 있을 때 코드 실행 후 출력 값은? (1)

``` python
test = [['홍길동',11],['김철수',37],['유재석',48]] 
print(len(test))  
```

① 3   ② 6     ③ 22     ④ 11

In [15]:
test = [['홍길동',11],['김철수',37],['유재석',48]]
print(len(test))

3

### 10.다음 코드 실행 후 출력값은? (3)

In [16]:
def multi_two(x):
    return x*2
result = map(multi_two,[1,2,3,4])
print(list(result))

[2, 4, 6, 8]

### 11.다음과 같이 for를 이용한 반복문이 있을 때 코드 실행 후 출력 값은? (4)
``` python
a = []
for k in range(1,7,2):
    a.append(k)
print(a[0],a[1],a[2])
```


① 1 7 2      ② 3 5 7    
③ 2 4 6      ④ 1 3 5

In [18]:
a = []
for k in range(1,7,2):
    a.append(k)
print(a[0],a[1],a[2])

1 3 5

### 12.다음과 같이 학생들의 과목 점수가 score에 저장되어 있을 때 코드 실행 후 ‘Park’의 ‘영어’ 점수 80을 출력하기 위한 print()문은?  (2)

``` python
score = {'Kim':{'영어':90,'수학':92},
         'Lee':{'영어':45,'수학':66},
         'Park':{'영어':80,'수학':99}}

① print(score('Park')('영어'))
② print(score['Park']['영어'])
③ print(score['Park']('영어'))
④ print(score('Park')['영어'])
```

In [22]:
score = {'Kim':{'영어':90,'수학':92},
         'Lee':{'영어':45,'수학':66},
         'Park':{'영어':80,'수학':99}}

print(score['Park']['영어'])

80

### 13.다음과 같이 round_number에 저장되어 있을 때 코드 실행 후 출력 값은? (1)

``` python
round_number = round(1.23456, 2) 
print(round_number) 
```

① 1.23   ② 1.2     ③ 1.234     ④ 1

In [23]:
round_number = round(1.23456, 2)
print(round_number)

1.23

### 14.다음과 같이 list comprehension을 이용해 x에 저장되어 있을 때 코드 실행 후 출력 값은? (1)

``` python
x =[x**3 for x in range(4)] 
print(x) 
```


① [0, 1, 8, 27]   ② [1, 8, 27, 64] <br>
③ [0, 3, 6, 9]    ④ [3, 6, 9, 12]

In [24]:
x =[x**3 for x in range(4)]
print(x)

[0, 1, 8, 27]

### 15.다음과 같이 lambda함수를 이용하여 y1, y2에 값이 저장되었을 때 코드 실행 후 출력되는 값은? (2)

``` python
list = [x*x for x in range(1,5,2)]

def func(list):
    return list[1]*10, list[0]

f = lambda x :func([x[1],x[0]])
y1, y2 = f(list)
print(y1, y2)
```

① 90, 1   ② 10, 9
③ 9, 10   ④ 1, 10

In [26]:
list = [x*x for x in range(1,5,2)]

def func(list):
    return list[1]*10, list[0]

f = lambda x :func([x[1],x[0]])
y1, y2 = f(list)
print(y1, y2)

10 9

------------------------------------------------------
## 주관식(코드 작성)

### 16. 키보드로 문장을 입력받아 거꾸로 출력하는 프로그램을 만들어 봅시다.
``` python
>>> 입력
거꾸로
>>> 출력
로꾸거
```

In [2]:
a = input('입력 ')
print(f'출력 {a[::-1]}')

입력 : 거꾸로
출력: 로꾸거

### 17.  1부터 100까지 3의 배수만 모두 더하는 코드를 작성하세요.

In [5]:
sum([i for i in range(1,101) if i%3==0])

1683

In [1]:
hap = 0
for i in range(1,101):
    if i%3==0:
        hap += i   
print(hap)

1683

### 18. 키보드로 공백으로 분리되는 두 숫자 a와 b를 입력받아, a의 b승을 구하는 코드를 작성하세요. (ex: 40 5 -->  40**5 )

In [18]:
n = list(input("두 숫자를 공백으로 구분하여 입력: ").split())
print(f'a의 b승: {int(n[0]) ** int(n[1])}')

두 숫자를 공백으로 구분하여 입력: 2 3
a의 b승: 8

In [19]:
n = list(map(int, input("두 숫자를 공백으로 구분하여 입력: ").split()))
print(f'a의 b승: { n[0] ** n[1]} ')

두 숫자를 공백으로 구분하여 입력: 2 3
a의 b승: 8

### 19. 다음과 같이 숫자를 입력받아 입력 숫자 만큼의 층을 이루는 별을 출력하는 코드를 작성하세요.

In [30]:
n = int(input('몇층 별?:'))

for i in range(1,n+1):
    for j in range(n-i):
        print(' ', end='')
    for j in range(1,i*2,1):
        print('*', end='')
    print()

몇층 별?:6
     *
    ***
   *****
  *******
 *********
***********

In [10]:
n = int(input('몇층 별?:'))
for i in range(0,n):    
    print( ('{:^{}}').format( ('*'*(i*2+1)), (n*2-1)) )

몇층 별?:6
     *
    ***
   *****
  *******
 *********
***********

In [31]:
n = int(input('몇층 별?:'))

for i in range(0,n):    
    print( f"{'*'*(i*2+1):^{n*2-1}}")

몇층 별?:6
     *
    ***
   *****
  *******
 *********
***********

### 20. 1부터 10,000까지 7이라는 숫자가 총 몇번 나오는지를 계산하는 코드를 작성하세요.

7이 포함되어 있는 숫자의 갯수를 카운팅 하는 것이 아니라 7이라는 숫자를 모두 카운팅 해야 한다. 
(※ 예를들어 7707은 3, 7777은 4로 카운팅 해야 함)

In [6]:
sum([str(x).count('7') for x in range(1,10001)])

4000

In [2]:
str(list(range(1,10001))).count('7')

4000